@tailwind base;
@tailwind components;
@tailwind utilities;

._section {
    @apply w-full flex justify-center;
}
._wrapper {
    @apply px-3 w-full max-w-[1138px] maxw:px-0 _text-14-20;
}
._h {
    @apply text-center font-bold px-4 sm:px-14 md:px-20 lg:px-28 maxw:px-40 text-[18px] sm:text-[20px] md:text-[24px] lg:text-[30px] maxw:text-[36px]
}
._h-text {
    @apply text-center font-bold text-[18px] sm:text-[20px] md:text-[24px] lg:text-[30px] maxw:text-[36px]
}
._text-14-20{
    @apply text-[14px] sm:text-[16px] md:text-[18px] maxw:text-[20px]
}
._text-bold-14-24{
    @apply text-[16px] sm:text-[18px] md:text-[20px] lg:text-[22px] maxw:text-[24px] font-bold
}
._text-14-24{
    @apply text-[16px] sm:text-[18px] md:text-[20px] lg:text-[22px] maxw:text-[24px] 
}
._p-bg{
    @apply px-8 py-2 bg-[url('../public/images/p_bg_small.png')] sm:bg-[url('../public/images/p_bg.png')] bg-cover bg-center  text-center text-_white font-bold
}
._p-bg-inline{
    @apply inline px-4 py-2 bg-[url('../public/images/p_bg_small.png')] bg-contain bg-center bg-no-repeat text-center text-_white font-bold
}
._div-bg{
    @apply w-fit px-10 py-1 bg-[url('../public/images/p_bg_small.png')] bg-cover bg-center bg-no-repeat text-center text-_white font-bold text-[16px] sm:text-[18px] md:text-[20px] lg:text-[22px] maxw:text-[24px] 
}
._point{
    @apply text-center font-bold text-_white rounded-full bg-_pink absolute px-1.5 sm:px-2.5 md:px-3 lg:px-3.5 maxw:px-4 _text-14-20
}
._point-step{
    @apply text-center block font-bold text-_white rounded-full bg-_pink absolute px-1.5 sm:px-2 md:px-2 lg:px-2.5 maxw:px-2.5 _text-14-20
}

._overflow-transition {
    overflow: hidden;
    position: relative;
  }
  
._overflow-transition::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-image: linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.8));
    pointer-events: none;
}